.page-title{
   margin-top: 40px;
   margin-bottom: 40px;
   color: lightslategray;
   text-align: center;
}
.container{
  background: #fafafa;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 20px;
}