.todo{
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
  transition: background 0.5s ease;

  p, input{
    margin: 0;
  }

  > :first-child{
    margin-right: 1rem;
  }
  
  &:hover{
    background: #f0f0f0;
  }
}

.todo-completed{
  p, .todo-subtext{
    color: #ccc;
    text-decoration: line-through;
  }
}

.todo-subtext{
  color:#999;
}